@page
@model WebApplication1.Pages.Signs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sign.ID" />
            <div class="form-group">
                <label asp-for="Sign.field1" class="control-label"></label>
                <input asp-for="Sign.field1" class="form-control" />
                <span asp-validation-for="Sign.field1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sign.field2" class="control-label"></label>
                <input asp-for="Sign.field2" class="form-control" />
                <span asp-validation-for="Sign.field2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sign.field3" class="control-label"></label>
                <input asp-for="Sign.field3" class="form-control" />
                <span asp-validation-for="Sign.field3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sign.field4" class="control-label"></label>
                <input asp-for="Sign.field4" class="form-control" />
                <span asp-validation-for="Sign.field4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sign.field5" class="control-label"></label>
                <input asp-for="Sign.field5" class="form-control" />
                <span asp-validation-for="Sign.field5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sign.field6" class="control-label"></label>
                <input asp-for="Sign.field6" class="form-control" />
                <span asp-validation-for="Sign.field6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sign.field7" class="control-label"></label>
                <input asp-for="Sign.field7" class="form-control" />
                <span asp-validation-for="Sign.field7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sign.field8" class="control-label"></label>
                <input asp-for="Sign.field8" class="form-control" />
                <span asp-validation-for="Sign.field8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
