@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p>Finding Source Code and DB scripts in <a href="https://github.com/zhaoliuyang1988/Signs.git">GitHub</a>.</p>

    <p>我部署了一个网址，快来尝试一下吧！ <a href="http://129.226.217.201:7400/Signs/">抽签小游戏</a>.</p>

</div>
